<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>Hello Amaze UI</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/amazeui/2.7.2/css/amazeui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/amazeui/2.7.2/js/amazeui.js"></script>

</head>
<body>
<header data-am-widget="header"
        class="am-header am-header-default">
    <h1 class="am-header-title">
        <a href="#title-link">
            My Server Alert
        </a>
    </h1>
</header>

<br/>
<br/>

<div class="am-g">
    <div class="am-u-sm-3">
        <ul class="am-nav">
            <li class="am-active"><a href="#">首页</a></li>
            <li><a href="register.html">注册</a></li>
            <li><a href="login.html">登录</a></li>
            <li><a href="setting.html">设置</a></li>
        </ul>
    </div>
    <div class="am-u-sm-9">
        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                介绍My Server Alert
            </div>
        </div>
    </div>
</div>


</body>
</html>